
<!-- about.html -->
<style>
    .bg-2 {
        background-color: #555555; /* Dark Blue */
        color: #555555;
    }
    div {
        text-align: justify;
        text-justify: inter-word;
    }

</style>

<div class="container-fluid bg-2 text-center">

<div  class="jumbotron text-center">
    <h2 style="color: black">About NostraDomicile</h2>
     <div class="panel panel-default">
        <div class="panel-body"><p>{{ message }}</p></div>
    </div>
    </div>
</div>