<!DOCTYPE html>
<html lang="en" ng-app="NostraDomicile">
	<head>
		<title>NostraDomicile</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
		<link rel="shortcut icon" href="static/imageFolder/rsz_favicon1.png?v={{version}}" type="image/png">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

		<script src = "static/mainController.js?v={{version}}"></script>

		<link rel="stylesheet" href="static/main.css?v={{version}}">
	</head>
	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand"  href="#">NostraDomicile </a>
					<style> font-size: 20px </style>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#/home"><i class="fa fa-home"></i> HOME</a></li>
						<li><a href="#/about"><i class="fa fa-shield"></i>ABOUT</a></li>
						<li><a href="#/blog"><i class="fa fa-pencil-square"></i>BLOG</a></li>
						<li><a href="#/contact"><i class="fa fa-comment"></i>CONTACT US</a></li>
						<li><a href="#/help"><i class="fa fa-question-circle"></i>HELP</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid bg-1 text-center">
			<h2 style="color:#ffffff" class="margin"><b>Smart Solutions For Data Driven Real Estate Queries</b></h2>
			<img src="static/imageFolder/hist3.png" class="img-responsive margin" style="display:inline"  width="175" height="175">
			<img src="static/imageFolder/statLine.png" class="img-responsive img-circle margin" style="display:inline"  width="275" height="275">
			<img src="static/imageFolder/logo2.png" class="img-responsive img-circle margin" style="display:inline"  width="225" height="225">
			<img src="static/imageFolder/statLine.png" class="img-responsive img-circle margin" style="display:inline"  width="275" height="275">
			<img src="static/imageFolder/hist3.png" class="img-responsive margin" style="display:inline"  width="175" height="175">
			<div id = "main">
				<div ng-view></div>
			</div>
		</div>

		<!-- Second Container -->
		<div class="container-fluid bg-5 text-center">
			<div id="status"></div>
			<div id="loading"></div>
			<form id="rf" action="" method="POST">
				{% csrf_token %}

				{% if status == 'True' %}
				<div class="alert alert-success alert-dismissable">
					<a href="#" class="close" data-dismiss="alert" aria-label="close"&times;</a>
					<strong>Success!</strong> {{message}}
					<br />{{zipCode}}
					<br />{{session}}
				</div>
				{% else %}
					{% if status == 'Fail' %}
					<div class="alert alert-danger alert-dismissable">
					<a href="#" class="close" data-dismiss="alert" aria-label="close"&times;</a>
						<strong>Failure!</strong> {{message}}
						<br />{{zipCode}}
						<br />{{session}}
						</div>
					{% endif %}
				{% endif %}

				<h3 class="margin"> Please Enter Your Zip Code Of Interest
					<span class="icon">
						<a class="icon">
							<button type="button" class="btn btn-default" data-toggle="popover" data-trigger="hover" data-content="This zip code may be your own zip code(it must be if you are using the Will My House Sell function below) or a zip code of a home you are interested in purchasing.  The information will be used in the following functions below.  Your information will not be kept." aria-hidden="true"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
							</button>
						</a>
					</span>
				</h3>

				<label>
					<input id="zip" style="color:#555555" ng-model="zipCode" type="text"  placeholder="Zip Code" required ng-minlength="5" ng-maxlength="5" name="zipCode" >
					<p>{{zipCode}}</p>
				</label>

				<div role="alert">
					<span class="error" ng-show="myForm.ZCode.$error.required">Required!</span>
				</div>

				<br />
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#container">I also want to see if my house will sell</button>
				<div id="container" class="collapse">

					<div class="form-group">
						<p>   ----------------------------   </p>
						<h3 class="margin">Please Enter Your Home's Attributes
							<button type="button" class="btn btn-default"  data-toggle="popover" data-trigger="hover" data-content="These attributes will be used to predict whether your house will sell in the target zip code or not.  If you are interested in using this function please ensure that the zip code you entered above is the same that your home resides in.">
								<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
							</button>
						</h3>
					</div>

					<div class="col-xs-2">
						<input id="price" class="form-control" name="price" ng-model="price" type="text" placeholder="Price">
						<p>{{price}}</p>
					</div>

					<div class="col-xs-2">
						<input id="sqft" class="form-control" name="sqFootage"  ng-model="sqFootage" type="text" placeholder="Square Footage">
						<p>{{sqFootage}}</p>
					</div>

					<div class="col-xs-2">
						<input id="acreage" class="form-control" name="acreage" ng-model="acreage" type="text" placeholder="Acreage">
						<p>{{acreage}}</p>
					</div>

					<div class="col-xs-2">
						<input id="year" class="form-control" name="yearBuilt" ng-model="yearBuilt" type="text" placeholder="Year Built">
						<p>{{yearBuilt}}</p>
					</div>

					<div class="col-xs-2">
						<input id="neighborhood" class="form-control" name="neighborhood" ng-model="neighborhood" type="text" placeholder="Neighborhood">
						<p>{{neighborhood}}</p>
					</div>

					<div class="col-xs-2">
						<input id="school" class="form-control" name="schoolDistrict" ng-model="schoolDistrict" type="text" placeholder="School District">
						<p>{{schoolDistrict}}</p>
					</div>

					<br /><br />

					<div class="btn-group"  ng-controller="selectboxCtrl">
						<select name="bedroomsNum" id="bedroomSelect" ng-init="userSelect1='0'" ng-model="userSelect1" ng-options="bedroom.value as bedroom.text for bedroom in bedrooms"></select>
					</div>

					<div class="btn-group"  ng-controller="selectboxCtrl">
						<select name="bathroomsNum" id="bathroomSelect" ng-init="userSelect2='0'" ng-model="userSelect2" ng-options="bathroom.value as bathroom.text for bathroom in bathrooms"></select>
					</div>

					<div class="btn-group"  ng-controller="selectboxCtrl">
						<select name="storiesNum" id="storiesSelect" ng-init="userSelect3='0'" ng-model="userSelect3" ng-options="story.value as story.text for story in stories"></select>
					</div>

					<div class="btn-group"  ng-controller="selectboxCtrl">
						<select name="homeType" id="homeSelect" ng-init="userSelect4='0'" ng-model="userSelect4" ng-options="type.value as type.text for type in TypeList"></select>
					</div>

					<div class="btn-group"  ng-controller="selectboxCtrl">
						<select name="parkingType" id="parkingSelect" ng-init="userSelect5='0'" ng-model="userSelect5" ng-options="parking.value as parking.text for parking in ParkingList"></select>
					</div>
				</div>
				<p>   ----------------------------  </p>

				<div>
					<input class="btn btn-primary btn-lg" type="submit" value="Submit Information" ng-click="checkselection()" />
					<button type="button" class="btn btn-default" data-toggle="popover" data-trigger="hover" data-content="The information entered above will be submitted and used in one or all of the following site's primary functions below. ">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</button>
				</div>
			</form>
		</div>


		<!-- Third Container (Grid) -->
		<div class="container-fluid bg-2 text-center">
			<div class="row">
				<div class= "card-group">
					<div class="col-sm-4">
						<div class="card card-outline-primary mb-3 text-center" style="border-color: #333;">
							<img class="card-img-top" src="static/imageFolder/sold.png" alt="Card image cap" />
							<div class="card-block">
								<h4 class="card-title">Prediction on Sale</h4>
								<p>Click the button below to see if your house will sell based on the attributes you have provided.</p>
								<button id="sell_feature_button" type="button" class="btn btn-info btn-lg btn-disabled" data-toggle="modal" data-target="#myModal">Will My House Sell?</button>
								<div id="myModal" class="modal fade" role="dialog">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4> <span class="glyphicon glyphicon-home"></span>    Will My House Sell?</h4>
											</div>
											<div class="modal-body">
												<p id="factors_body"><div id="factors_error" class="alert alert-danger"><strong>Error!</strong> This feature will not work until you enter your housing attributes in the section above this.</div></p>
											</div>
											<div class="modal-footer">
												<p>Thank you for choosing NostraDomicile!</p>
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card card-outline-primary mb-3 text-center">
							<img class="card-img-top" src="static/imageFolder/predict.png" alt="Card image cap" />
							<div class="card-block">
								<h4 class="card-title">Prediction on Most Important Attributes</h4>
								<p>Click the button below to see the most attractive factors leading to home sales in the chosen area.</p>
								<button id="attributes_feature_button" type="button" class="btn btn-info btn-lg btn-disabled" data-toggle="modal" data-target="#myModal2">Most Important Attributes</button>
								<div id="myModal2" class="modal fade" role="dialog">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4> <span class="glyphicon glyphicon-option-vertical"></span>    Most Important Attributes</h4>
											</div>
											<div class="modal-body">
												<p id="zip_body"><div id="zip_error" class="alert alert-danger"><strong>Error!</strong> This feature will not work until you enter your zip code in the section above this.</div></p>
											</div>
											<div class="modal-footer">
												<p>Thank you for choosing NostraDomicile!</p>
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card card-outline-primary mb-3 text-center">
						<img class="card-img-top" src="static/imageFolder/visualize.png" alt="Card image cap" />
						<div class="card-block">
							<h4 class="card-title">Data Visualizations</h4>
							<p>Click the button below to see a collection of valuable statistics pertaining to the chosen area.</p>
							<button id="visualization_feature_button" type="button" class="btn btn-info btn-lg btn-disabled" data-toggle="modal" data-target="#myModal3">Data Visualizations</button>
							<!-- Modal -->
							<div id="myModal3" class="modal fade" role="dialog">
								<div class="modal-dialog modal-lg">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4> <span class="glyphicon glyphicon-stats"></span>    Data Visualizations</h4>
										</div>
										<div class="modal-body">
											<p id="visualization_body"><div id="visualization_error" class="alert alert-danger"><strong>Error!</strong> This feature will not work until you enter your zip code in the section above this.</div></p>
										</div>
										<div class="modal-footer">
											<p>Thank you for choosing NostraDomicile!</p>
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<footer class="container-fluid bg-4 text-center">
			<p>Created as a Senior Project</p>
		</footer>
	</body>
</html>

